html{
    background-image: url("wallpaper.jpg");
    
}
form{
   
    background-image: url("Background image.jpg");
    border:3px solid rgb(255, 252, 252);
    width:50%;
    height:40%;
    padding:4%;
    margin:-4% 19%;
    
}


input{

border-radius:0%;
border:3px solid rgb(255, 255, 255);
width:60%;
margin:0% 15%;

}
input:hover{
    background-color:rgb(13, 255, 0);
}
button:hover{
    background-color:rgb(255, 0, 0);
}
button{
    margin: 0% 30%;
    background-color:#fdffff;
    
}
#set{
margin: 0% 30%;
width:70px;
background-color:#f6fdfe;
}
h1 {text-align: center;
}
#set:hover{
    background-color:grey;
}
h1{
    color:white;
}
lable{
    color:white;   

}